@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Scripture Journal</h1>
    <a asp-page="/JournalEntries/Create" class="btn btn-primary mt-3 mr-2">Add New Journal Entry</a>
    <a asp-page="/JournalEntries/Index" class="btn btn-primary mt-3">View Previous Entries</a>
</div>
