@page
@model MyScriptureJournal.Pages.JournalEntries.CreateModel

@{
    ViewData["Title"] = "Add New Journal Entry";
}

<h1>Add New Journal Entry</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JournalEntry.Title" class="control-label"></label>
                <input asp-for="JournalEntry.Title" class="form-control" />
                <span asp-validation-for="JournalEntry.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JournalEntry.EntryDate" class="control-label"></label>
                <input asp-for="JournalEntry.EntryDate" class="form-control" />
                <span asp-validation-for="JournalEntry.EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JournalEntry.Book" class="control-label"></label>
                <input asp-for="JournalEntry.Book" class="form-control" />
                <span asp-validation-for="JournalEntry.Book" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JournalEntry.Chapter" class="control-label"></label>
                <input asp-for="JournalEntry.Chapter" class="form-control" />
                <span asp-validation-for="JournalEntry.Chapter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JournalEntry.Verse" class="control-label"></label>
                <input asp-for="JournalEntry.Verse" class="form-control" />
                <span asp-validation-for="JournalEntry.Verse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JournalEntry.Notes" class="control-label"></label>
                <textarea asp-for="JournalEntry.Notes" class="form-control"></textarea>
                <span asp-validation-for="JournalEntry.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Journal Entry" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to Journal Entry List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
