@{
    ViewData["Title"] = "Church Movie Database";
}

<div class="text-center">
    <h1 class="display-4">Church Movie Database</h1>
    <a asp-controller="Movies" asp-action="Create" class="btn btn-primary mt-3 mr-2">Add New Movie</a>
    <a asp-controller="Movies" asp-action="Index" class="btn btn-primary mt-3">View All Movies</a>
</div>
